{{template "base" .}}

{{define "title"}}Quickbit - {{.Bit.Title}}{{end}}

{{define "body"}}Quickbit #{{.Bit.Title}}
{{with .Bit}}
<div class='snippet'>
    <div class='metadata'>
        <strong>{{.Title}}</strong>
        <span>#{{.Id}}</span>
    </div>
    <pre><code>{{.Content}}</code></pre>
    <div class='metadata'>
        <time>{{humanDate .CreatedAt | printf "created at: %s"}}</time>
        <time>{{.ExpiresAt | humanDate | printf "expires at: %s"}}</time>
    </div>
</div>
{{end}}
{{end}}