{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Quickbits</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <script type="text/javascript" src="/static/js/main.js" defer></script>
    </head>
    <body>
        <header>
            <h1><a href='/'>Quickbits</a></h1>
        </header>
        <nav>
            <div>
                <a href='/'>Home</a>
                {{if .IsUserAuthenticated}}
                <a href="/bits/create">Create Bit</a>
                {{end}}
            </div>
            <div>
                {{if .IsUserAuthenticated}}
                <form action="/user/logout" method="POST">
                    <input type="hidden" name="csrf_token"
                        value="{{.CSRFToken}}">
                    <button>Logout</button>
                </form>
                {{else }}
                <a href="/user/signup">Signup</a>
                <a href="/user/login">Login</a>
                {{end}}
            </div>
        </nav>
        <section>
            {{with .Flash}}
            <div class='flash'>{{.}}</div>
            {{end}}
            {{template "body" .}}
        </section>
        {{template "footer" .}}
    </body>
</html>
{{end}}
