{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Quickbits</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <script type="text/javascript" src="/static/js/main.js" defer></script>
    </head>
    <body>
        <header>
            <h1><a href='/'>Quickbits</a></h1>
        </header>
        <nav>
            <a href='/'>Home</a>
            <a href="/bits/create">Create Bit</a>
        </nav>
        <section>
            {{template "body" .}}
        </section>
        {{template "footer" .}}
    </body>
</html>
{{end}}
